@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
* {
  box-sizing: border-box; }

body {
  margin: 0px;
  background: #EFF1F2; }

a {
  text-decoration: none; }

p {
  display: inline-flex;
  font-family: PTMono-Regular;
  font-size: 14px;
  color: #000000;
  text-align: center;
  line-height: 20px;
  margin-bottom: 20px; }

h1,
h2,
h3 {
  margin: 0; }

h1 {
  font-size: 40px;
  font-family: Montserrat; }

.btn {
  background: #0059D9;
  display: inline-block;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px;
  width: 280px;
  padding: 14px 0;
  border: none; }

.input {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0px; }

.jack {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .jack .content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .jack img {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    margin: 0 auto; }

h2 {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  margin: 14px 89.5px; }

.Myworks {
  background: #25282A;
  color: #FFFFFF; }
  .Myworks h2 {
    width: 700px;
    margin: 80px 150px 0px 150px; }
  .Myworks p {
    color: #FFFFFF;
    margin: 8px 240px 10px 240px;
    width: 520px; }
    .Myworks p h1 {
      font-size: 32px;
      width: 520px;
      color: #FFFFFF;
      line-height: 36px;
      margin: 0px 240px; }

.Karta p,
.Poster p,
.Music p {
  font-family: PTSans-Regular;
  color: #FFFFFF;
  width: 520px;
  height: 60px;
  margin: 0px 150px 0px 150px;
  text-align: start; }

.Karta a,
.Poster a,
.Music a {
  color: none; }
  .Karta a P,
  .Poster a P,
  .Music a P {
    color: #71ABFF;
    width: 700px;
    margin: 0px 150px 0px 150px;
    font-family: PTMono-Regular;
    font-size: 14px;
    text-align: center; }

.Karta img,
.Poster img,
.Music img {
  width: 700px;
  height: 377px;
  border-radius: 8px;
  margin: 20px 150px 20px 150px; }

.last {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  width: 699px;
  margin: 0px 150px; }
  .last h1 {
    font-size: 32px;
    line-height: 36px;
    width: 700px;
    margin: 100px 0px 0px 0px; }
  .last p {
    color: #000000;
    margin: 20px 0px;
    width: 700px;
    font-family: PTMono-Regular;
    text-align: center; }

.i1,
.i2,
.i3 {
  width: 48px;
  height: 48px;
  border-radius: 170px; }

.i1 {
  background: #395A99;
  margin: 16px 8px 20px 262px; }
  .i1 i {
    color: #FFFFFF;
    width: 12.2px;
    height: 24.3px;
    margin: 15.1px 18.7px; }

.i2 {
  background: #51ADEF;
  margin: 16px 8px 20px 8px; }
  .i2 i {
    color: #FFFFFF;
    width: 22.7px;
    height: 18.7px;
    margin: 15.6px 14.6px; }

.i3 {
  background: #2CA5E0;
  margin: 16px 8px 20px 8px; }
  .i3 i {
    color: #FFFFFF;
    margin: 15.6px 14.6px;
    width: 24.1px;
    height: 23.9px; }

.flex {
  width: 699px;
  display: flex;
  justify-content: space-between; }
  .flex input {
    width: 340px;
    padding: 6px 72px 10px 12px; }
