.btn {
    background: $col;
    display: inline-block;
    text-align: center;
    color: $color;
    font-size: 18px;
    line-height: 24px;
    border-radius: 4px;
    width: 280px;
    padding: 14px 0;
    border: none;
}