@import "utiliti/variables";
@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background: $first;
}

a {
  text-decoration: none;
}

@import "element/p";

h1,
h2,
h3 {
  margin: 0;
}

@import "element/h1";
@import "element/button";
@import "element/input";

.jack {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    margin: 0 auto;
  }
}

h2 {
  font-family: Montserrat;
  font-size: 18px;
  line-height: 24px;
  color: $color;
  text-align: center;
  margin: 14px 89.5px;
}

.Myworks {
  background: $second;
  color: $color;

  h2 {
    width: 700px;
    margin: 80px 150px 0px 150px;
  }

  p {
    color: $color;
    margin: 8px 240px 10px 240px;
    width: 520px;

    h1 {
      font-size: 32px;
      width: 520px;
      color: $color;
      line-height: 36px;
      margin: 0px 240px;
    }
  }
}

.Karta,
.Poster,
.Music {
  p {
    font-family: PTSans-Regular;
    color: $color;
    width: 520px;
    height: 60px;
    margin: 0px 150px 0px 150px;
    text-align: start;
  }

  a {
    color: none;

    p {
      color: $a;
      width: 700px;
      margin: 0px 150px 0px 150px;
      font-family: PTMono-Regular;
      font-size: 14px;
      text-align: center;
    }
  }

  img {
    width: 700px;
    height: 377px;
    border-radius: 8px;
    margin: 20px 150px 20px 150px;
  }
}

.last {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  width: 699px;
  margin: 0px 150px;


  h1 {
    font-size: 32px;
    line-height: 36px;
    width: 700px;
    margin: 100px 0px 0px 0px;
  }

  p {
    color: #000000;
    margin: 20px 0px;
    width: 700px;
    font-family: PTMono-Regular;
    text-align: center;
  }

}

.i1,
.i2,
.i3 {
  width: 48px;
  height: 48px;
  border-radius: 170px;
}

.i1 {
  background: $i1;
  margin: 16px 8px 20px 262px;

  i {
    color: #FFFFFF;
    width: 12.2px;
    height: 24.3px;
    margin: 15.1px 18.7px;
  }
}

.i2 {
  background: $i2;
  margin: 16px 8px 20px 8px;

  i {
    color: #FFFFFF;
    width: 22.7px;
    height: 18.7px;
    margin: 15.6px 14.6px;
  }
}

.i3 {
  background: $i3;
  margin: 16px 8px 20px 8px;

  i {
    color: #FFFFFF;
    margin: 15.6px 14.6px;
    width: 24.1px;
    height: 23.9px;
  }
}

.flex {
  width: 699px;
  display: flex;
  justify-content: space-between;

  input {
    width: 340px;
    padding: 6px 72px 10px 12px;
  }
}